<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.adrianwudev" level="DEBUG"/>
    <logger name="org.springframework" level="TRACE"/>
    <logger name="org.springframework.boot" level="TRACE"/>
<!--    <logger name="org.thymeleaf" level="INFO"/>-->
</configuration>